body {color: darkolivegreen;
background-color: bisque;
background-image: url(poem.jpg);
background-repeat: no-repeat ;
background-size: cover;
}

.poem {
    font-size: 18px;
    background-color: beige;
    padding: 20px 10px;
    margin-top: 15px;
    text-align: left;
}

.prompt {
    display: flex;
    margin: auto;
    padding: 13px;
    border-radius: 8px;
    opacity: 1;
    border: none;
    width: 80%;
    font-size: 15px;
}

.submit {
    border-radius: 8px;
    margin-left: 2px;
    padding: 13px;
    border: none;
    opacity: 1;
    font-size: 15px;
    background-color: chocolate;
}

.form-container {
    padding: 30px;
        border-radius: 10px;
        background-color: antiquewhite;
        opacity: 1;
        border: none;
        text-align: left;
}

.form {
    display: flex;
    
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 120px auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
    opacity: 0.9;
}

footer {
    margin-top: 50px;
}